<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>LSImmo 3.0 Market, le premier site Blockchain au Maroc qui vous garantit les ventes et achats </p>
            <ul class="footer-links">
              <li><a target="_blank" href="https://www.google.com/maps/place/Boukhalef,+Tanger/data=!4m2!3m1!1s0xd0b87d1a8dbd113:0xcb4095fba3c9b6b4?sa=X&ved=2ahUKEwiq9umPi-71AhVTwQIHHRY_DkYQ8gF6BAgGEAE"><i class="fa fa-map-marker"></i>Boukhalef, TANGER </a></li>
              <li><a href="contactUs"><i class="fa fa-phone"></i>+212665602269</a></li>
              <li><a href="contactUs"><i class="fa fa-envelope-o"></i>yazid_saad@gmail.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">

              <li><a href="annonce">Villa</a></li>
              <li><a href="maison">Maison</a></li>
              <li><a href="studio">Studio</a></li>
              <li><a href="garage">Garage</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="contactUs">About Us</a></li>
              <li><a href="contactUs">Contact Us</a></li>

              <li><a href="/">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li *ngIf="!authenticated"><a href="login">Login</a></li>
              <li *ngIf="!authenticated"><a href="register">Register </a></li>
              <li><a href="allannonce">All Annonce</a></li>
              <li *ngIf="authenticated"><a href="contrat">Add Annonce</a></li>
              <li><a href="contactUs">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="/"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="/"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="/"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="/"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="https://github.com/Yazidmen?tab=repositories" target="blank"><i class="fa fa-github"></i> </a>
            </li>
            <li><a href="https://github.com/medsaad2000?tab=repositories" target="blank"><i
                  class="fa fa-github-alt"></i></a></li>



          </ul>
          <span class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by Yazid & Mohamed Saad
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->